@import '../style/variables';
@import '../style/mixins';
@import '../style/forms';
@import '~materialize-css/sass/materialize';
@import '~material-icons/iconfont/material-icons.scss';
@import '../style/sensible_defaults/index';
@import '../style/components/index';

html {
  background: $primary-color;
}

body {
  background: #fdfdfd;

  .container {
    color: #333;
  }
}

[data-react-class] {
  &, & main {
    height: 100%;
  }
}

main.container {
  width: 100%;
}

.valign-wrapper {
  width: 100%;
  height: 100%;
}

.valign-wrapper > .center-align {
  width: 100%;
  text-align: center;
}

.login-page {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

nav {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  .brand-logo {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    &, img {
      height: 90%;
      margin-right: 0.5em;
    }
  }
}
