<!DOCTYPE html>
<html>
<head>
  <title>WMS</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'app' %>
  <%= javascript_include_tag "hyperloop-prerender-loader" %>
  <%= javascript_include_tag "hyperloop_webpack_loader" %>

  <!-- Favicons -->
  <link rel="manifest" href="/images/manifest.json">
  <meta name="theme-color" content="#ffffff">

</head>

<body>
  <%= yield %>
</body>
</html>